:root {
    --rarity-3: #F1F2F5;
    --rarity-3bg: #d3d6e0;
    --rarity-4: #FBF9BD;
    --rarity-4bg: #f8f58d;
    --rarity-5: #F0E4FE;
    --rarity-5bg: #d5b3fc;
    --coloredbg: #000000;
}

/* Dark mode */
.dark {
    --rarity-3: #595959;
    --rarity-3bg: #4B4B4B;
    --rarity-4: #404040;
    --rarity-4bg: #6B5021;
    --rarity-5: #262626;
    --rarity-5bg: #421E64;
    --coloredbg: #8D0303;
}

.bg-rarity-3 { background-color: var(--rarity-3); }
.bg-rarity-4 { background-color: var(--rarity-4); }
.bg-rarity-5 { background-color: var(--rarity-5); }
.bg-coloredbg { background-color: var(--coloredbg); }
.hover\:bg-rarity-3bg:hover { background-color: var(--rarity-3bg); }
.hover\:bg-rarity-4bg:hover { background-color: var(--rarity-4bg); }
.hover\:bg-rarity-5bg:hover { background-color: var(--rarity-5bg); }

